{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}


{% block main %}
<div class="container d-flex justify-content-center p-4 text-light">
        <div class="col-5 border-warning">
            <header>
                <h3 class="text-center text-warning">
                    {{ title }}
                </h3>
            </header>

            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-danger" type="submit">Войти</button>
                        <p class="btn btn-warning small fw-bold mt-2 pt-1 mb-0">
                            Нет аккаунта?
                            <a class="navbar-brand" href="{% url 'register' %}"
                               style="color:#FF0000">
                                Зарегистрироваться
                            </a>
                        </p>

                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock main %}